body {
  background-color:cadetblue;
  font-size: 13px;
  background-image: url('https://media.giphy.com/media/Yd8QUB5ZNFzaw/giphy.gif');
  background-repeat: none;
}

.card, .card-panel {
  width: 125rem;
  flex-wrap: wrap;
  color: aqua;
  padding: 15px, 20px;
  background-color: brown;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14); 
 }
.container-fluid {
  padding: 1rem 2.5rem;
  margin: auto;

}
.row {
  margin: 0 -0.75rem;
}
.main {
  position: absolute;
  width: calc(100% - 250px);
  top: 140px;
  margin-left: 250px;

}
.subheader {
  color: black;
  font-weight: 500;
  
}
nav {
  box-shadow: 0 1px 8px rgba(0,0,0,0.3);
  
}
nav ul li{
 text-align: center;
 background-color:black;
  background-image: url('http://www.pixelstalk.net/wp-content/uploads/2016/04/Photos-manipulation-forest-nigth-full-of-stars-backgrounds.jpg');
}

.nav-ul.right {
  padding-right: 12px;
  
}
.nav ul.right li {
  max-width: 48px;

}


nav ul a {
  padding-right: 0 12px;
  background-color: black;
}
nav ul a img{
  height: 32px;
  width: 35px;
  vertical-align: middle;
  margin-left: -5px;
}
.nav-wrapper {
  padding: left 12px;
}
.nav-wrapper ul a:hover{
  background-color: transparent;
}
.nav-wrapper .title {
  font-size: 1.4rem;
}

.nav-2 {
  height: 56px !important;
  line-height: 56px !important;
  min-height: 56px !important;

}

.nav-wrapper .btn-flat {
  background-color: blue;
  font-size: 13px;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  width: 94px;
}

.nav-2,.nav-2 i {
  height: 56px !important;
  line-height: 56px;
  min-height: 56px !important;
}

.search-wrapper {
  color: #757575;
  margin: 10px auto 0 170px;
  width: calc(100% - 450px);
  max-width: 650px;
  height: 40px;
  position: fixed; 
  
}

li {
  color: brown;
}
.search-wrapper i {
  position: absolute;
  font-size: 74px;
  top: 5px;
  left: 24px;
  line-height: 36px !important;

}
input[type=search]:not(.browser-default){
  display: block;
  padding: 11px 8px 11px 72px;
  width: 100%;
  background-color: white;
  height: 24px;
  border: none;
  font-size: 16px;
  outline: none;
  border-radius: 2px;
  color: grey;
}
input[type=search]::focus {
  border-bottom: none !important;
  box-shadow: none !important;

}
input[type=search]::placeholder{
  color: #757575;

}

.side-nav.floating {
  width: 250px;
  padding: 75px 8px 0 !important;
  height: calc(100%-130px);
  left: initial;
  right: initial;
  top: 125px;
  transform: auto;
  margin: 0.5rem - 1rem 0;
  border-radius: 2px;
  background: transparent;
  box-shadow: none;
}
.side-nav.divider {
  margin: 8px 0;
}
.side-nav.active {
  background-color: rgba(0, 0, 0, 0.5);

}
.side-nav.active a{
  color: #212121;
  font-weight: 500;
}
.side-nav .subheader {
  line-height: 24px;
  height: 32px;
  margin: 0;
  padding: 4px 16px;
  color: #616161;
  font-weight: normal;
  font-size: 13px;
}
.side-nav li a,side-nav li a i.material-icons {
  height: 40px;
  line-height: 40px;
}
.side-nav li a i.material-icons {
  margin: right 24px;
}
.side-nav li a  {
  padding: 0 16px;
  font-weight: normal;
  font-size: 13px;
  color: #616161;
}
side-nav li a::hover {
  border-radius: 2px;
}
.folder {
  width: 185px;
  display: inline-block;
  margin: 15px 20px 15px 0;
  font-weight: 500;
}
.folder i {
  color:rgba(0,0, 0, 0.54);
  margin-top:  -3px;
}

